body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("Images/Background.jpeg");
    background-size: cover;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

#Game-title{
    display: block;
    background-color: transparent;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    text-shadow: 2px 2px;
}

#startBtn{
    display: block;
    margin: auto;
    margin-top: 50px;
    color: yellow;
    background-color: rgb(77, 190, 105);
    border: 2px solid rgb(32, 5, 5);
    font-size: large;
}
#rockBtn{
    font-size: 20px;
    text-align: center;
    border: 2px solid red;
    margin-right: 50px;
    background-image: url("Images/rock.png");
    background-position: center;
    border-radius: 100%;
    padding-top: 100px;
    padding-left: 100px
}
#PaperBtn{
    border: 2px solid yellow;
    margin-top: 2%;
    background-image: url("Images/paper.png");
    background-position: center;
    border-radius: 100%;
    padding-top: 100px;
    padding-left: 100px

}
#ScissorsBtn{
    border: 2px solid cyan;
    margin-left: 50px;
    background-image: url("Images/Scissors.jpeg");
    background-position: center;
    border-radius: 100%;
    padding-top: 97px;
    padding-left: 97px
}
#playerMessage-el{
    display: block;
    
}
